<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: documentHeader}">
</head>
<body>
<div class="container p-4 bg-white rounded shadow-sm" th:fragment="reviewContent">
	<div class="row">
		<div class="col-md-3 border-end">
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a class="nav-link active" id="v-pills-report-tab" data-bs-toggle="pill" href="#v-pills-report" role="tab" aria-controls="v-pills-report" aria-selected="true">신고 리뷰 목록</a>
				<a class="nav-link" id="v-pills-inappropriate-tab" data-bs-toggle="pill" href="#v-pills-inappropriate" role="tab" aria-controls="v-pills-inappropriate" aria-selected="false">부적절한 리뷰 목록</a>
			</div>
		</div>
		<div class="col-md-9">
			<div class="tab-content" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-report" role="tabpanel" aria-labelledby="v-pills-report-tab">
					<ul class="list-group list-group-flush" id="report-list">
<!--						<li th:each="review : ${reportReviews}" class="list-group-item d-flex justify-content-between align-items-center">-->
<!--							<div>-->
<!--								<span class="d-none" id="logId" name="logId" th:text="${review.logId}"></span>-->
<!--								<strong class="reportedId" th:text="${review.reporterId != null ? review.reporterId : 'Unknown User'}"></strong>-->
<!--								<span> (at </span><span th:text="${review.reportTime}"></span>):-->
<!--								<span th:text="${review.reportReason}"></span>-->
<!--								<br>-->
<!--								<strong th:text="${review.reportedNickname != null ? review.reportedNickname : 'Unknown Place'}"></strong><span>: </span>-->
<!--								<span th:if="${#strings.length(review.review) > 25}" th:text="${#strings.substring(review.review, 0, 25) + '...'}"></span>-->
<!--								<span th:if="${#strings.length(review.review) <= 25}" th:text="${review.review}"></span>-->
<!--								<br>-->
<!--								<small>장소: <span class="r-placeName" th:text="${review.placeName != null ? review.placeName : '알 수 없음'}"></span></small>-->
<!--							</div>-->
<!--							<div>-->
<!--								&lt;!&ndash; 신고 취소 버튼 &ndash;&gt;-->
<!--								<button class="btn btn-warning btn-sm report-cancel"-->
<!--										onclick="cancelReport(this)">신고 취소</button>-->
<!--								&lt;!&ndash; 삭제 버튼 &ndash;&gt;-->
<!--								<button class="btn btn-danger btn-sm report-delete"-->
<!--										onclick="deleteReview(this)">삭제</button>-->
<!--							</div>-->
<!--						</li>-->
					</ul>
					<nav aria-label="Report Reviews Page Navigation" id="report-pagination">
						<ul class="pagination justify-content-center">
							<!-- 페이지네이션 버튼들 -->
						</ul>
					</nav>
				</div>
				<!-- 전체 리뷰 목록 -->
				<div class="tab-pane fade" id="v-pills-inappropriate" role="tabpanel" aria-labelledby="v-pills-inappropriate-tab">
					<ul class="list-group list-group-flush" id="inappropriate-list">
<!--						<li th:each="review : ${inappropriateReviews}" class="list-group-item d-flex justify-content-between align-items-center">-->
<!--							<div>-->
<!--								<strong class="userId" th:text="${review.reviewId.userId != null ? review.reviewId.userId : 'Unknown User'}"></strong>-->
<!--								:-->
<!--								<span th:text="${review.reviewContent}"></span>-->
<!--								<br>-->
<!--								<small>장소: <span class="i-placeName" th:text="${review.reviewId.placeName != null ? review.reviewId.placeName : '알 수 없음'}"></span></small>-->
<!--							</div>-->
<!--							<div>-->
<!--								&lt;!&ndash; 삭제 버튼 &ndash;&gt;-->
<!--								<button class="btn btn-danger btn-sm inappropriate-delete"-->
<!--										onclick="deleteReview(this)">삭제</button>-->
<!--							</div>-->
<!--						</li>-->
					</ul>
					<nav aria-label="Inappropriate Reviews Page Navigation" id="inappropriate-pagination">
						<ul class="pagination justify-content-center">
							<!-- 페이지네이션 버튼들 -->
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<!-- 이 부분에 JavaScript로 콘텐츠가 추가됩니다. -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>


<script th:replace="~{layout/fragments :: bootstrapScript}"></script>
</body>
</html>
