.square-form {
    width: 100% !important;
    max-width: 800px !important;
    height: 600px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.square-form form {
    width: 100%;
}